/* PART 1*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: deeppink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: deepskyblue;
}
.topnav a.active {
  background-color: yellowgreen;
  color: lightblue;
}
/* PART TWO */

.myslides {
  height: 500px;

  width: 100%;
}

img {
  width: 200px;
}

h1 {
  text-align: center;

  color: green;

  font-weight: bolder;
}
/*PART THREE*/
P {
  text-align: center;
  color: deeppink;
  font-size: 20px;
  font-weight: bolder;
}
.colomn {
  float: left;
  width: 30%;
  height: 30%;
}
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://i.ibb.co/hK1f06p/download.jpg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
@media (max-width: 568px) {
  .pimg3 {
    background-attachment: scroll;
  }
}
